<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>buttonInCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6D059521D5CF78E0020708D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6D059691D5CF78E0020708D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6D059741D5CF78E0020708D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
